# Configuration LearningApps
LEARNINGAPPS_EMAIL=your-email@example.com
LEARNINGAPPS_PASSWORD=your-password

# Configuration H5P (si nécessaire)
H5P_EMAIL=
H5P_PASSWORD=

# Chemins pour les fichiers H5P sur le serveur
# Chemin de base pour le contenu H5P (où seront créés les dossiers content/{id}/)
H5P_CONTENT_PATH=/var/www/h5p/sites/default/files/h5p/content

# Chemin de base pour les bibliothèques H5P (où seront créés les dossiers libraries/)
H5P_LIBRARIES_PATH=/var/www/h5p/sites/default/files/h5p/libraries

# Port du serveur
PORT=3000
